.title{
    font-size: var(--title-font-size);
    color: var(--red);
    text-align: center;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.filterContainer{
    width: 20%;
    height: auto;
    align-self: self-start;
    border-radius: var(--default-border-radius);
    margin: 10px;
}

.field{
    flex: 1;
    width: 95%;
    min-height: 125px;
    height: 30%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border-radius: var(--default-border-radius);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    background-color: var(--dark-red);
    color: white;
    font-weight: 200;
    font-size: clamp(1rem, 2vw, 1.2rem);
}
