.container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100vh;
    display: grid;
    width: 100%;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}