.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
}

.container > *{
    width: 100%;
}

.entryBanner{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    gap: 30%;
    height: 70vh;
    background-image: url("../../assets/hotel.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.entryBanner .mask{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
}

.entryBanner .title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: clamp(3rem, 6vw, 4rem);
    z-index: 1;
    text-align: center;
}

.entryBanner .findHotelContainer{
    width: 90%;
    background-color: white;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 320px;
    z-index: 1;
}

.entryBanner .findHotelContainer .field{
    flex: 1;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid var(--red);
    padding: 0 20px;
}

.entryBanner .findHotelContainer .field:last-of-type{
    border: none;
}

.entryBanner .findHotelContainer .button{
    height: 50%;
    flex: 0.6;
    background-color: var(--red);
    border-radius: 2%;
    color: white;
    margin: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--button-font-size);
}

@media only screen and (max-width: 1440px) {
    .entryBanner{
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        height: max-content;
        padding: 30px;
    }

    .entryBanner .findHotelContainer{
        flex-direction: column;
        height: auto;
        width: 30%;
    }

    .entryBanner .findHotelContainer .field{
        width: 80%;
        border-right: none;
        border-bottom: 1px solid var(--red);
        padding: 20px;
        gap: 20px;
    }

    .entryBanner .findHotelContainer .button{
        height: 50%;
        flex: 0.6;
        background-color: var(--red);
        border-radius: 2%;
        color: white;
        margin: 0 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--button-font-size);
    }

    .entryBanner .findHotelContainer .button{
        flex: 1;
        color: white;
        margin: 20px;
        padding: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .entryBanner{
        flex-direction: column;
        justify-content: center;
    }
}